BOT_TOKEN=
PROVIDER_TOKEN=
ADMINS_LIST = []

PG_USER=postgres
PG_PASSWORD=12345
PG_HOST=postgres
PG_PORT=5432
PG_NAME=vless_bot_pg

PG_JOBS_USER=postgres
PG_JOBS_PASSWORD=12345
PG_JOBS_HOST=postgres_jobs
PG_JOBS_PORT=5432
PG_JOBS_NAME=pg_jobs

REDIS_HOST=redis_vless
REDIS_PORT=6379
REDIS_USER=redis
REDIS_USER_PASSWORD=12345
REDIS_DB=0

REDIS_PASSWORD=12345

RABBITMQ_USERNAME=rabbitmq
RABBITMQ_PASSWORD=12345
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
VHOST=myapp_vhost

BASE_URL=https://example.com

VLESS_USERNAME=admin
VLESS_PASSWORD=admin
